.container {
  display: flex;
  align-items: center;
  padding: 2vh 0;
}

.image {
  width: 9vh;
  height: 9vh;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 3vw;
}

.name__container {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
}

.specialty {
  font-size: 18px;
  color: #979797;
}